!!!
%html
	%head
		%title RspecCapybaraCucumberTutorial
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		%nav.navbar.navbar-expand-lg
			.navbar-brand= link_to 'Test Tutorial', root_path
			.collapse.navbar-collapse
				%ul.navbar-nav
					%li.nav-items
						.nav-link= link_to 'New Achievement', new_achievement_path
				%ul.navbar-nav.pull-right
					%li.nav-items
						.nav-link= link_to 'Sign Out', destroy_user_session_path, method: :delete
		.container-fluid
			- if notice
				.alert.alert-info.notice= notice
			- if alert
				.alert.alert-info= alert

			= yield